<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      <div class="row">
        <div class="col-md-6">
        <h4 class="card-title"><%= @sermonstitle %></h4>
        </div>
        <div class="col-md-6 text-right">
          <%= link_to 'Create New', new_admin_sermon_path, class: "btn btn-primary btn-sm" %>
        </div>
      <%= render 'shared/alert' %>
      </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
          <% if @sermons.exists? %>
            <thead class=" text-primary">
              <tr><th>
                Title
              </th>
              <th>
                Category
              </th>
              <th>
                Author
              </th>
              <th>
                Date Created
              </th>
              <th>
                Action
              </th>
            </tr></thead>
            <tbody>
            <% @sermons.each do |s| %> 
              <tr>
                <td>
                  <%= s.title %>
                </td>
                <td>
                  <%= s.category.name %>
                </td>
                <td>
                  <%= s.user.name %>
                </td>
                <td>
                  <%= time_ago_in_words(s.created_at) %> ago
                </td>
                <td class="text-left">
                  <%= link_to edit_admin_sermon_path(s) do %>
                    <i class="far fa-lg fa-edit text-primay"></i>
                  <% end %>
                  &nbsp;
                  <%= link_to admin_sermons_path(s), method: :destroy, data: {confirm: 'Are you sure?'} do %>
                    <i class="far fa-trash-alt fa-lg text-warning"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <% else %>
              <p>There is no sermons</p>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>