<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cornerstone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="wrapper">
      <%= render "admin/shared/sidebar"%>
      <div class="main-panel">
        <%= yield %>
      </div>
    </div>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
