<!-- Notification -->
<%# <div class="alert alert-danger landing-alert">
      <div class="container text-center">
          <h5>For Future</h5>
    </div>
</div> %>
<!-- End Notification -->
<div class="landing-header backgroundImage" >
    <div class="container">
        <div class="motto">
            <h1 class="title-uppercase marginTitle"><%= @titleCaption %></h1>
            <h3><%= @verse %></h3>
            <br />
            <%= link_to sermons_path, class: "btn btn-warning" do %>
                <i class="fa fa-play"></i>Latest sermons
            <% end %>
        </div>
    </div>    
</div>
<div class="main">
    <div class="section text-center landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <%= render :template => 'faith/_scriptures' %>
                </div>
            </div>
        </div>
    </div>  
    
    <div class="section section-light-brown landing-section">
        <div class="container">
            <div class="row">
                <% @sermon.limit(3).each do |feed| %>
                    <div class="col-md-4 column">
                        <h4>
                            <%= feed.title %>
                        </h4>
                        <p>
                            <%= sanitize feed.body.last(70) %>...
                        </p>
                            <%= link_to sermons_path, class:"btn btn-danger btn-simple" do %>
                                See more..<i class="fa fa-chevron-right"></i>
                            <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <%= render 'email/contact'%>
</div>     
    