<div class="md-center">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title"><b><%= action_name.capitalize %> About us</b></h5>
      </div>
      <%= form_for [:admin, @about] do |about| %>
      <% if @about.errors.any? %>
        <% @about.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger">
            <button type="button" aria-hidden="true" class="close">×</button>
            <span><b> Danger - </b> <%= msg %></span>
        </div>
        <% end %>
      <% end %>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12 col-sm-12 pr-1">
              <div class="form-group">
                <%= about.label :about_us, ('About Us Description') %>
                <%= about.trix_editor :about_us, required: true, autofocus: true, data: { coffee: :delicious }  %>
              </div>
              <div class="form-group">
                <%= about.label :schedule, ('Weekly Schedule and or Announcement') %>
                <%= about.trix_editor :schedule, required: true, autofocus: true, data: { coffee: :delicious }  %>
              </div>
              <div class="form-group">
                <%= about.label :name, ('Contact Person') %>
                <%= about.text_field :name, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= about.label :phone, ('Contact Phone Number') %>
                <%= about.number_field :phone, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= about.label :email, ('Contact Email Address') %>
                <%= about.text_field :email, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= about.label :address, ('Church Address') %>
                <%= about.text_field :address, class: "form-control" %>
              </div>
                <%= link_to "Cancel", admin_abouts_path, class: "btn btn-secondary btn-wd" %>
                <%= about.submit frm_action, class: "btn btn-primary btn-wd"%>
            </div>
          </div>
        </form>
      </div>
        <% end %>
    </div>
  </div>