<div class="container marginTop">
  <div class="tim-row center">
      <h1><%= @title %></h1>
  </div>
  <div class="tim-row">
    <br />
    <h2><%= @scriptures %></h2>
      <legend></legend>
        <p>
          <%= @aboutScriptures %>
        </p>
  </div>
  <div class="tim-row">
  <br />
  <h2><%= @head %></h2>
    <legend></legend>
      <p>
        <%= @godHead %>
      </p>
  </div>
  <div class="tim-row">
  <br />
  <h2><%= @diety %></h2>
    <legend></legend>
      <p>
        <%= @dietyOfChrist %>
      </p>
  </div>
  <div class="tim-row">
  <br />
  <h2><%= @salvation %></h2>
    <legend></legend>
      <p>
        <%= @aboutSalvation %>
      </p>
  </div>
  <div class="tim-row">
  <br />
  <h2><%= @church %></h2>
    <legend></legend>
      <p>
        <%= @aboutChurch %>
      </p>
  </div>
  <div class="tim-row">
  <br />
  <h2><%= @last %></h2>
    <legend></legend>
      <p>
        <%= @lastThing %>
      </p>
  </div>
</div>