<div class="content">
        <div class="row">
          <div class="col-md-10">
            <div class="card">
              <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                <h4 class="card-title"><%= @categorytitle %></h4>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to 'Create New', new_admin_category_path, class: "btn btn-primary btn-sm" %>
                </div>
              <%= render 'shared/alert' %>
              </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                  <% if @categories.exists? %>
                    <thead class=" text-primary">
                      <tr><th>
                        Name
                      </th>
                      <th>
                        Date Created
                      </th>
                      <th>
                        Action
                      </th>
                    </tr></thead>
                    <tbody>
                    <% @categories.each do |c| %> 
                      <tr>
                        <td>
                          <%= c.name %>
                        </td>
                        <td>
                           <%= c.created_at.to_time.strftime('%B %e at %l:%M %p') %>
                        </td>
                        <td class="text-left">
                          <%= link_to edit_admin_category_path(c) do %>
                          <i class="far fa-edit"></i>
                          <% end %>
                          <%= link_to admin_category_path(c), method: :delete, data: {confirm: 'Are you sure?'} do %>
                            <i class="far fa-trash-alt"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    <% else %>
                      <p>There is no category</p>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>