<div class="container marginTop">
  <div class="tim-row center">
      <h1><%= @titleAbout %></h1>
  </div>
  <div class="tim-row">
      <legend></legend>
        <p>
          <%= @about %>
        </p>
  </div>
  <legend></legend>
  <br />
  <div class="tim-row center">
      <h2><%= @addressTitle %></h2>
  </div>
  <div class="tim-row">
      <legend></legend>
        <p>
          <%= @address %>
        </p>
        <p>
          <%= @countryCode %>
        </p>
        <p>
          <%= @phoneNumber %>
        </p>
        <p>
        <a href="mailto:<%= @email %>?Subject=Dear%20Ptr.%20Erick" target="_top">
        eKreh73@gmail.com
        </a>  
        </p>
  </div>
</div>