<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="col-md-6" id="flash-message">
              </div>  
                <h2 class="text-center">Contact Us</h2>
                

                    <form class="contact-form">
                <%= form_for @contact, url: home_index_path do |f| %>
                        <div class="row">
                            <div class="col-md-6">
                                <%= f.label :name %>
                                <%= f.text_field  :name, required: true, class: "form-control", placeholder: "Name" %>
                            </div>
                            <div class="col-md-6">
                                <%= f.label :email %>
                                <%= f.text_field  :email, required: true, class: "form-control", placeholder: "Email Address" %>
                            </div>
                        </div>
                         <%= f.label :message %>
                         <%= f.text_area :message, rows: 4, cols: 40, required: true, class: "form-control",
                        placeholder: "Tell us your thoughts .."%>
                        <br />
                        <div class= "hidden">
                            <%= f.label :nickname %>
                            <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <%= f.submit 'Send Message', class: 'btn btn-danger btn-block btn-lg btn-fill' %>
                            </div>
                        </div>
                <% end %>
                    </form>
            </div>
        </div>
    </div>
</div>